@{
    ViewBag.Title = "Create";
}

<h2>할 일 등록</h2>

<form action="/Task/CreateProcess" method="post">

    제목: <input type="text" name="title" value="" /><br />

    <input type="submit" value="저장" />

</form>
