

<h2>ASP.NET Core 1.0 프로젝트를 Azure 웹 앱에 게시하기</h2>

<ol>
    <li>
        <h4>Azure Web App 및 SQL 데이터베이스 생성</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/sWkm5y4lVjs" frameborder="0" allowfullscreen></iframe>
    </li>
    <li>
        <h4>Azure Web App에 프로젝트 게시</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/9V0uivEO2BM" frameborder="0" allowfullscreen></iframe>
    </li>
</ol>

<p>
    동영상의 내용은 최신 버전으로 계속해서 업데이트할 예정입니다.
</p>