body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Malgun Gothic', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}


/*[DNN]*/
.MainSummaryTitle {
    border-bottom: 1px solid #e2e2e2;
}

.readMore {
    float: right;
    font-size: 11px;
    font-weight: normal;
    margin-top: 10px;
}

.clear {
    clear: both;
}

.post_date {
    font-size: 12px;
    margin-right: 5px;
}

.post_title {
    font-size: 14px;
    font-family: 'Malgun Gothic', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
